<IfModule mod_rewrite.c>
Options All -Indexes
AddDefaultCharset utf-8
ServerSignature Off
RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
ErrorDocument 404 "404 Not Found Go <a href="https://https://qby.herokuapp.com/">Home</a>"
</IfModule>
